{
    "presets": ["@babel/preset-env"],
    "plugins": [
      ["module-resolver", {
        "alias": {
          "@src": "./src",
          "@utils": "./src/utils",
          "@config": "./src/config",
          "@services": "./src/services",
          "@models": "./src/models"
        }
      }],
      "@babel/transform-runtime",
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }
  